*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
li{
	list-style:none;
}
a{
	text-decoration: none;
	color:#fff;
}
html,body{
	width:100%;
	height:100%;
}
.clear{clear:both;height:0;line-height:0;font-size:0;overflow:hidden;}
.kong{
	width:100%;
	height:60px;
	background:#f2f2f2;
}
.kong1{
	width:100%;
	height:50px;
	background:#f2f2f2;
}
/*********************以上是重置样式***************************/
.main{
	width:100%;
	height:auto;
}
.main h2{
	height:60px;
	width:100%;
	line-height:60px;
	font-size:16px;
	color:#333;
	padding-left:10px;
	font-weight:100;
}
.main-content{
	width:50%;
	height:auto;
	margin: 0 auto;
}
.main-content h3{
	font-size:16px;
	color:#333;
	line-height:50px;
	width:100%;
	text-align: center;
}
.main-content p{
	width:100%;
	height:50px;
	padding-top:15px;
}
.main-content p label{
	width:30%;
	height:30px;
	line-height:30px;
	text-align:right;
	padding-right:10px;
	font-size:14px;
	color:#333;
	float: left;
}
.main-content p span{
	width:70%;
	height:30px;
	text-align:left;
	float: left;
}
.main-content p .text{
	width:320px;
	height:30px;
	border:1px solid #333;
}
.main-content p b{
	padding-left:10px;
	float:left;
	font-weight:100 ;
	font-size:14px;
	line-height:30px;
}
.main-content p b i{
	font-style: normal;
	margin-right:15px;
	margin-left:10px;
	color:#333;
}
.main-content p .textare{
	width:320px;
	height:118px;
	border:1px solid #333;
}
.main-content .anniu span{
	width:320px;
}
.main-content p .sure{
	float:right;
	background:#247db9;
	color:#fff;
	padding:0 20px;
	line-height:30px;
	border:1px solid #666;
	border-radius: 5px;
	font-size:14px;
	text-align: center;
}
