*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    font-size: 18px;
    width: auto;
    height: auto;
}
.main{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.left{
    width: 15%;
    height: 2860px;
    background-color: rgb(36,125,185);
    color: white;
}
.top{
    height: 200px;
    font-size: 20px;
    text-align: center;
    line-height: 200px;
    border-bottom: 1px solid gray;
}
.bottom{
    text-align: center;
}
.right{
    width: 100%;
}
nav{
    height:80px ;
    line-height: 80px;
}
nav span{
    display: inline-block;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
}
nav>span:first-child{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
}
nav>span:nth-of-type(3){
    float: right;
}
nav>span:last-child{
    float: right;
    padding-right: 10px;
    padding-top: 4px;
}
.ding{
    height: 60px;
    margin-top: 46px;
    line-height: 60px;
    margin-left: 10px;
}
.content{
    margin-top: 15px;
}
.content>form{
    text-align: right;
    padding-right: 670px;
    line-height:70px;
}
.content>form>select{
    width: 400px;
    height: 30px;
}
.content>form>input{
    width: 400px;
    height: 30px;
}
.a-upload,.a-upload1,.a-upload2,.a-upload3 {
    font-size: 13px;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    border: 1px solid #ddd;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    *display: inline;
    *zoom: 1;
    width: 200px;
    height: 30px;
    padding: 0px 45px;
    margin-right: 116px;
    line-height: 30px;
    border-radius: 10px;
    color: white;
    background-color: rgba(41,35,35,0.8);
    vertical-align: middle;
}

.a-upload  input,.a-upload1 input,.a-upload2 input,.a-upload3 input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}
.xs{
    color: red;
    position: absolute;
    top:346px;
    left: 1123px;
    font-size: 16px;
}
.xs1{
    color: red;
    position: absolute;
    font-size: 16px;
    top:414px;
    left: 1126px;
}
.xs2{
    color: red;
    position: absolute;
    font-size: 16px;
    top:1184px;
    left: 1126px;
}
.xs3{
    color: red;
    position: absolute;
    font-size: 16px;
    top:2582px;
    left: 1126px;
}
ul.tabs {
    margin: 0;
    float: left;
    list-style: none;
    width: 100%;
    height: 50px;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-color: #eeeeee;
    padding-left: 20px;
}
ul.tabs li {
    float: left;
    padding: 0 10px;
    height: 45px;
    line-height: 45px;
    margin-bottom: -1px;
   border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 70px;
    overflow: hidden;
    position: relative;
    outline: 0;
    font-size: 18px;
    vertical-align: baseline;
    display: list-item;
    text-align: -webkit-match-parent;
    margin-top: 5px;
}
ul.tabs li a{
    color: black;
}
ul.tabs li.active {
    background: #fff;

}
ul.tabs li.active a{
    color: #247db9;
}
.tab_content{
    padding-left: 100px;
    padding-top: 67px;
}
.tab_content th{
    text-align: center;

}
.tab_content td{
    padding-top: 25px;
}
.btn{
    width: 100px;
    height: 30px;
    outline: none;
    text-align: center;
    line-height: 30px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 10px;
    position: relative;
}
.table th ,.table td{
    min-width: 100px;
    text-align: center;
}
.table td:last-child{
    min-width: 320px;
}

.btn>span:first-child img{
    position: absolute;
    top: 6px;
    left: 9px;
}
.search{
    height: 50px;
    border-bottom: 1px solid lightgray;
}
.search>button{
    width: 160px;
    height: 50px;
    margin-left: 20px;
    outline: none;
    border: 1px solid lightsteelblue;
    color: steelblue;
    border-radius: 10px;
    background-color: white;
}
.search>span{
    color: lightgray;
}
.search>span:nth-of-type(2){
    float: right;
    width: 50px;
    height: 48px;
    text-align: center;
    line-height: 48px;
    border: 1px solid lightgray;
}
.search>span:nth-of-type(3){
    float: right;
    width: 160px;
    height: 50px;
}
.search>span:nth-of-type(3)>input{
    height: 48px;
    padding-left: 7px;
    border: 1px solid lightgray;
}
.fenye{
    float: right;
    margin-top: 30px;
    margin-right: 20px;
}
.fenye input{
    width: 30px;
    height: 20px;
    padding-left: 10px;
}
.fenye button{
    width: 80px;
    height: 20px;
    outline: none;
    border: 1px solid lightblue;
    background-color: white;
}


.subNavBox{
    margin-top: 10px;
}
.subNav{width:100%;cursor:pointer;font-size:18px;color:white;line-height:46px;background:url(../images/anniu2.png) no-repeat;background-position:70% 50%;}
.subNo{
    cursor:pointer;font-size:18px;color:white;line-height:46px;padding-left: 40px;
    position: relative;
    right: 39px;
}
.subNav:hover{color:white;}
.currentDd{color:white}
.currentDt{background-image:url(../images/anniu1.png);}
.navContent{display: none;}
.navContent li a{
    display:block;width:100%;heighr:28px;text-align:right;font-size:14px;line-height:40px;color:white;
    position: relative;right: 95px}
.navContent li{
    width: 100%;
    line-height: 40px;
}
.navContent li a:hover{width:100%;color:#fff;}
/******************Add_pic*********************/
.Add_pic{
    padding:15px;
}
.Add_pic .btn{
    width:200px;
    height:50px;
    float:left;
    border-radius:5px;
    background:url(../images/tianjia_03.png) no-repeat;
}
.choose{
    float:left;
    height:50px;
    line-height: 50px;
    color:darkgray;
    margin-left: 20px;
}
#inputs{
    width:200px;
    height:50px;
    opacity:0;
    position: relative;
    z-index: 100;
    border:none;
}
.num{
    width:140px;
    height:200px;
    border:1px solid #000;
    border-radius:5px;
    margin-top:120px;
    margin-left:100px;
    display:inline-block;
}
.dd{
    width:100px;
    height:120px;
    margin:20px 20px 0 20px;
    background:url(../images/img3_03.png) no-repeat;
}
.num .dd  img{
    width:100px;
    height:120px;
}
.num>div:nth-child(2){
    height:11px;
}
.num>div>button{
    width:12px;
    height:11px;
    border:none;
    float:right;
    background:url(../images/shantu_03.png) no-repeat;
    margin-right:20px;
    margin-top:5px;
}
.num>div:nth-child(3){
    height:35px;
    width:100px;
    margin: 0 auto;
    text-align: center;
    line-height: 35px;
}
.submitBtn>input{
    height:28px;
    width:78px;
    border:1px solid #000;
    background-color: #fff;
    border-radius:5px;
    margin-left:300px;
    margin-top:35px;
}
.num:nth-child(2){
    margin-left:250px;
}
ul li{
    display:inline-block;
}



