*{padding: 0px;
    margin: 0px;}
.clear{clear: both;}
html,body{width: 100%;
    min-width: 1000px;
    height: 100%;}
a{text-decoration: none;
    color: #333;}
img{
    border:none;}
/*右上部分*/
.content_right_one{height: 80px;
    /* border: 1px solid red;*/
    line-height: 80px;
    font-size: 18px;
    padding-left: 11px;}
.content_one_left{float: left;}
.content_one_left>img{width: 50px;
    height: 50px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    vertical-align: middle;
}
.content_one_right{float: right;
    padding-right: 40px;}
.content_one_right>img{vertical-align: middle;}
.content_right_two{height: 40px;
    background: #f2f2f2;}
.content_right_three{height: 60px;line-height: 60px;}
.content_right_three>p{
    margin-left: 10px;
    font-size: 16px;
}
.content_right_four{height: 40px;
    background: #f2f2f2;}
.content_right_bottom{
    font-size: 14px;
    color: #333;
}
.content_right_bottom_content>p{
    line-height: 60px;
    /*margin: 5px 0px 5px 10px;*/
    height: 60px;
    margin-left: 10px;
}
.content_right_bottom_content>form{
    text-align: center;
}
.form_div{
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.form_div input{
    width: 310px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    padding-left: 10px;
}
.form_div>label{
    width: 150px;
    text-align: right;
    display: inline-block;
}
.form_div_jifen{
    margin-left: 50px;
}
.form_div_jifen>label{
    width: 100px;
    text-align: right;
    display: inline-block;
}
.form_div_jifen input{
    width: 105px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
}
.form_div_checkbox{
    height: 50px;
    line-height: 50px;
    text-align: center;
   margin-left: 70px;
}
.form_div_checkbox input{
    width: 16px;
    height: 50px;
    line-height: 50px;
    margin-right: 10px;
    vertical-align: middle;
    *vertical-align: middle;
}
#chb2{
    margin-left: 26px;
}
.form_div_submit>input{
    display: inline-block;
    margin-top: 50px;
    height: 30px;
    width: 70px;
    margin-left: 410px;
}















