*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color:#333;
}
body,html{
	width:100%;
	min-width: 1000px;
	height:100%;overflow-x: hidden;
}
.clear{clear:both;height:0;line-height:0;font-size:0;overflow:hidden;}
/*********************************以上是重置样式**************************************/
header{
	height:80px;
	*height:40px;
	width:100%;
	padding-top:15px;
	*padding-top:15px;
}
.headerLeft{
	width:49%;
	height:50px;
	*height:20px;
	float:left;
}
.headerLeft>img{
	width:50px;
	height:50px;
	border-radius:50%;
	float: left;
}
.headerLeft>h2{
	font-weight:100;
	font-size:18px;
	color:#333;
	height:50px;
	line-height:50px;
	text-align:left;
	float: left;
	margin-left:13px;
}
.headerRight{
	width:49%;
	height:50px;
	float:right;
	text-align: right;
	padding-top:10px;
	padding-right:40px;
}
.headerRight>img{
	width:22px;
	height:22px;
	display:inline-block;
	position: relative;
	top:5px;
}
.headerRight>h2{
	display:inline-block;
	font-size:18px;
	color:#333;
	font-weight:100;
}
/**********************************以上是头部部分样式*********************************/
.kong{
	width:100%;
	height:30px;
	background:#e9f2f8;
}
.kong1{
	width:100%;
	height:20px;
	background:#e9f2f8;
}
.kong3{
	width:100%;
	height:10px;
	background:#e9f2f8;
}
.title{
	width:100%;
	height:60px;
	line-height:60px;
	font-size:18px;
	color:#333;
	padding-left:10px;
}
.biaodan{
	width:100%;
	height:200px;
}
.biaodan-content{
	width:415px;
	height:200px;
	margin:0 auto;
}
.content-top{
	width:100%;
	height:50px;
}
.content-top label{
	line-height:50px;
	float:left;
	color:#333;
	font-size:16px;
}
.content-top input{
	margin-top:11px;
	height:28px;
	width:318px;
	border:1px solid #333;
	float:left;
	margin-left:20px;
}
.content-bottom label{
	line-height:50px;	
	color:#333;
	font-size:16px;
	float:left;
}
.content-bottom textarea{
	height:118px;
	width:318px;
	border:1px solid #333;
	float:left;
	margin-left:20px;
	margin-top:11px;
	resize: none;
}
/***********************************以下是主体内容部分*****************************************/
.main{
	width:100%;
	height:auto;
	padding-top:26px;
}
.main .content{
	width:100%;
	height:auto;
	padding-bottom:20px;
}
.main .content h3{
	width:100%;
	height:40px;
	font-size:18px;
	line-height:40px;
	border-bottom: 1px solid #ccc;
	padding-left:10px;
	font-weight:100;
}
.main .content h3 span{
	margin-left:10px;
	color:#333;
}
.main .content .duoxuan{
	width:100%;
	height:auto;
	padding-left:30px;
	padding-top:5px;
}
.main .duoxuan li{
	height:46px;
	font-size:16px;
	min-width:175px;
	line-height:46px;
	float:left;
}
.main .content li span{
	margin-left:10px;
	color:#333;
}
.footer, .footer form{
	height:80px;
	width:100%;
	text-align:right;
	padding-right:40px;
}
.footer form .sub{
	padding:5px 13px;
	color:#fff;
	background:#247db9;
	font-size:16px;
	border:none;
	border-radius: 10px;
}
